*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
gradle.properties
google-services.json
local.properties
client_secret_555889075835-qqvos79h3nsja2qdnhuqong0u9bl6d66.apps.googleusercontent.com

